@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shantell+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(198, 198, 240);
}

nav{
    background-color: black;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Shantell Sans', cursive;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    /* background-color:yellow; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Shantell Sans', cursive;
}

.container div{
        border: 2px solid black;
        font-size: 7vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
}

.box:hover{
   background-color: rgb(98, 98, 162);
}


.gameinfo{
    padding: 0 34px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Shantell Sans', cursive;

}

.imgbox img{
    /* [display: ;] */
    /* display: none; */
    width: 115px;
}
.box.br-0{
    border-right: 0;
}

.box.bl-0{
    border-left: 0;
}

.box.bt-0{
    border-top: 0;
}

.box.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
    
}

#reset:hover{
    /* background-color: aqua; */
    scale: 104%;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    
}

.boxtext{
    color:orange;
}

